.block {
    width: 30px;
    height: 30px;
    line-height : 30px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: center;
    border-width: 3px;
    background: whitesmoke;
    font-weight: bold;
    font-size: 25px;
    white-space: nowrap;
}

.block:disabled{
    border-width: 1px;
}

.block-row:after {
    clear: both;
    content: '';
    display: table;
}